@model IEnumerable<E_Recruitment_Portal.Applicantjobapplied.Applicantjobapplied>
@{
    ViewBag.Title = "SUBMITTED JOB APPLCATION";
}

<br />
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <p>@Html.ActionLink("Home Page", "OpenApplications", "HomePage")</p>
        </li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <section>
        <div class="table-responsive">
            <table id="example" class="table table-striped" style="border: none;">
                <thead>
                    <tr>
                        <th>Application No.</th>
                        <th>Job Applied</th>
                        <th>Application Date</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.No</td>
                                <td>@item.Job</td>
                                <td>@item.Application_Date.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            <br />
        </div>
    </section>
</div>
<br />
<script src="~/Scripts/Default/home.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
