@model E_Recruitment_Portal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<br />
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <p>@Html.ActionLink("Home Page", "OpenApplications", "HomePage")</p>
        </li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <h4 class="text-left in"><b><u clas style="color:#2E354E">CHANGE PASSWORD</u></b></h4>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "input" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "input" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-success" />
            </div>
        </div>
    }
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}