@using E_Recruitment_Portal.Models
@model LoginViewModel
@{
    ViewBag.Title = "LOG IN";
}

<div class="row">
    <div class="col-md-7">
        @{
            Html.RenderPartial("_Image");
        }
    </div>
    <div class="col-md-5" style="float:right;">
        <div class="container">
            <br />
            @{
                Html.RenderPartial("_Feedback1");
            }
            <br />
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl, jobid = ViewBag.jobid, no = ViewBag.no }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>@ViewBag.Title</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "input" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>
                                @Html.ActionLink("Forgotten your password?", "ForgotPassword")
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Log in" class="btn btn-company btn-block" />
                        </div>
                    </div>
                    <p>
                        Do not have an account? @Html.ActionLink("Click here to register", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}