@using E_Recruitment_Portal.Models
<!-- Footer -->
<br />
<footer class="page-footer font-small teal pt-4" style="border-top: 2px solid var(--tab-dominant-bg)">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
        <div class="container">
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-8 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold" style="color: #E33237;">ABOUT</h5>
                    <p>
                        Our recruitment portal allows you to access our latest job opportunities. All interested candidates
                        are requested to apply for jobs online through our this website. <br />
                        Please note that @GeneralSetup.CompanyName is a free and fair organization and it offers equal opportunity to all.<br />
                        <b>GOOD LUCK</b>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-3">

                    <!-- Content -->
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h5 class="text-uppercase font-weight-bold" style="color: #E33237;">EMPLOYMENT TOOLS</h5>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Find a Job</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Add a Job</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Job Dashboard</a></li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
        </div>
    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <!-- Footer -->
    <div class="modal-body row" style="background-color: var(--tab-dominant-bg); color: var(--tab-white-color);">
        <div class="col-md-7 text-center">
            <i>Copyright &copy; @DateTime.Now.Year . @GeneralSetup.CompanyName - @GeneralSetup.PortalName  </i>
        </div>
        <div class="col-md-5">
            <i><strong> <span class="pull-right">Powered by  <a style="color:var(--tab-recessive-bg);" href="https://www.agilebiz.co.ke/" target="_blank">Agile Business Solutions Ltd.</a></span></strong></i>
        </div>
    </div>
    <!-- Footer -->
    @*<div class="modal-body row" style="background-color: #2E354E; color: #FFFFFF;">
            <div class="col-md-6 text-center">
                <i>Copyright &copy; @DateTime.Now.Year . KMRC - Recruitment Portal  </i>
            </div>
            <div class="col-md-6 text-center">
                <i><strong> <span class="pull-right">Powered by   <a style="color:#E33237;" href="https://www.agilebiz.co.ke/" target="_blank">Agile Business Solutions Ltd.</a></span></strong></i>
            </div>
        </div>*@
    <!-- Copyright -->

</footer>
<!-- Footer -->