<style>
    .mini-submenu {
        display: none;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 0, 0, 0.9);
        border-radius: 4px;
        padding: 9px;
        /*position: relative;*/
        width: 42px;
    }

        .mini-submenu:hover {
            cursor: pointer;
        }

        .mini-submenu .icon-bar {
            border-radius: 1px;
            display: block;
            height: 2px;
            width: 22px;
            margin-top: 3px;
        }

        .mini-submenu .icon-bar {
            background-color: #000;
        }

    #slide-submenu {
        background: rgba(0, 0, 0, 0.45);
        display: inline-block;
        padding: 0 8px;
        border-radius: 4px;
        cursor: pointer;
    }

    a.xy {
        width: 100%;
        height: 60px;
    }

        a.xy:hover {
            width: 100%;
            height: 60px;
            background-color: #E33237;
            color: #FFFFFF;
        }

        a.xy:focus {
            width: 100%;
            height: 60px;
            background-color: #2E354E;
            color: #FFFFFF;
            border-top: 1px solid #FFFFFF;
        }

    .head {
        background-color: #2E354E;
        color: #FFFFFF;
    }
</style>

<div class="mini-submenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</div>
<div class="list-group">
    <span href="#" class="list-group-item head">
        Submenu
        <span class="pull-right" id="slide-submenu">
            <i class="fa fa-times"></i>
        </span>
    </span>
    <a href="@Url.Action("Dashboard", "HomePage")" class="list-group-item xy">
        <i class="fa fa-home"></i> Dashboard
    </a>
    <a href="@Url.Action("OpenApplications", "HomePage")" class="list-group-item xy">
        <i class="fa fa-envelope-open"></i> Submit Application
    </a>
    <a href="@Url.Action("Profile", "HomePage")" class="list-group-item xy">
        <i class="fa fa-user"></i> Profile
    </a>
    <a href="@Url.Action("Education", "HomePage")" class="list-group-item xy">
        <i class="fa fa-book"></i> Education Background
    </a>
    <a href="@Url.Action("WorkExperience", "HomePage")" class="list-group-item xy">
        <i class="fa fa-folder-open"></i> Work Experience
    </a>
    <a href="@Url.Action("Professional", "HomePage")" class="list-group-item xy">
        <i class="fa fa-bookmark"></i> Professional Courses
    </a>
    <a href="@Url.Action("Membership", "HomePage")" class="list-group-item xy">
        <i class="fa fa-users"></i> Membership
    </a>
    <a href="@Url.Action("Referees", "HomePage")" class="list-group-item xy">
        <i class="fa fa-flag-checkered"></i> Referees
    </a>
    <a href="@Url.Action("Hobbies", "HomePage")" class="list-group-item xy">
        <i class="fa fa-list"></i> Hobbies
    </a>
    <a href="@Url.Action("ChangePassword", "Manage")" class="list-group-item xy">
        <i class="fa fa-refresh"></i> Reset Password
    </a>
</div>
<br />

<script>
    $(function () {

        $('#slide-submenu').on('click', function () {
            $(this).closest('.list-group').fadeOut('slide', function () {
                $('.mini-submenu').fadeIn();
            });

        });

        $('.mini-submenu').on('click', function () {
            $(this).next('.list-group').toggle('slide');
            $('.mini-submenu').hide();
        })
    })
</script>
